## Tableau Project: Cost Of Living Across The Globe

Part I: Importing the libraries & pulling in the datasets.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('data/cost-of-living.csv')

Part II: Cleaning & consolidating the datasets.

In [4]:
pd.set_option('display.max_columns', None)

df.head()

,Unnamed: 0,city,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27,x28,x29,x30,x31,x32,x33,x34,x35,x36,x37,x38,x39,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,4.28,0.49,11.63,0.61,0.22,1.22,1.25,12242.64,22972.31,57.37,0.01,7.96,21.07,8.47,4.90,73.76,1985.70,32.05,33.34,49.35,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,3.49,0.56,27.94,2.10,0.42,8.38,1.17,19554.98,20360.82,64.76,0.03,16.74,63.23,14.67,8.38,1356.63,25883.49,69.17,34.26,86.55,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,2.22,0.22,9.53,0.41,0.29,2.86,0.79,25489.74,27978.73,80.12,0.11,30.45,30.86,11.71,3.18,132.74,9934.37,38.87,25.95,72.89,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,2.65,0.53,11.86,0.71,0.24,2.12,1.38,22984.03,18200.60,97.45,0.15,38.02,48.09,5.85,5.48,254.89,10860.59,38.45,26.96,69.47,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,3.39,0.98,41.47,2.86,0.90,9.05,1.41,28648.67,26851.06,176.24,0.16,22.06,54.84,17.99,9.42,384.01,18283.99,56.99,45.49,70.21,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1

In [5]:
## Renaming Column Names

In [6]:
column_mapping = {
    'x1': 'Meal, Inexpensive Restaurant (USD)',
    'x2': 'Meal for 2 People, Mid-range Restaurant, Three-course (USD)',
    'x3': 'McMeal at McDonalds (or Equivalent Combo Meal) (USD)',
    'x4': 'Domestic Beer (0.5 liter draught, in restaurants) (USD)',
    'x5': 'Imported Beer (0.33 liter bottle, in restaurants) (USD)',
    'x6': 'Cappuccino (regular, in restaurants) (USD)',
    'x7': 'Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)',
    'x8': 'Water (0.33 liter bottle, in restaurants) (USD)',
    'x9': 'Milk (regular), (1 liter) (USD)',
    'x10': 'Loaf of Fresh White Bread (500g) (USD)',
    'x11': 'Rice (white), (1kg) (USD)',
    'x12': 'Eggs (regular) (12) (USD)',
    'x13': 'Local Cheese (1kg) (USD)',
    'x14': 'Chicken Fillets (1kg) (USD)',
    'x15': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)',
    'x16': 'Apples (1kg) (USD)',
    'x17': 'Banana (1kg) (USD)',
    'x18': 'Oranges (1kg) (USD)',
    'x19': 'Tomato (1kg) (USD)',
    'x20': 'Potato (1kg) (USD)',
    'x21': 'Onion (1kg) (USD)',
    'x22': 'Lettuce (1 head) (USD)',
    'x23': 'Water (1.5 liter bottle, at the market) (USD)',
    'x24': 'Bottle of Wine (Mid-Range, at the market) (USD)',
    'x25': 'Domestic Beer (0.5 liter bottle, at the market) (USD)',
    'x26': 'Imported Beer (0.33 liter bottle, at the market) (USD)',
    'x27': 'Cigarettes 20 Pack (Marlboro) (USD)',
    'x28': 'One-way Ticket (Local Transport) (USD)',
    'x29': 'Monthly Pass (Regular Price) (USD)',
    'x30': 'Taxi Start (Normal Tariff) (USD)',
    'x31': 'Taxi 1km (Normal Tariff) (USD)',
    'x32': 'Taxi 1hour Waiting (Normal Tariff) (USD)',
    'x33': 'Gasoline (1 liter) (USD)',
    'x34': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)',
    'x35': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)',
    'x36': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)',
    'x37': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)',
    'x38': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)',
    'x39': 'Fitness Club, Monthly Fee for 1 Adult (USD)',
    'x40': 'Tennis Court Rent (1 Hour on Weekend) (USD)',
    'x41': 'Cinema, International Release, 1 Seat (USD)',
    'x42': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)',
    'x43': 'International Primary School, Yearly for 1 Child (USD)',
    'x44': '1 Pair of Jeans (Levis 501 Or Similar) (USD)',
    'x45': '1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)',
    'x46': '1 Pair of Nike Running Shoes (Mid-Range) (USD)',
    'x47': '1 Pair of Men Leather Business Shoes (USD)',
    'x48': 'Apartment (1 bedroom) in City Centre (USD)',
    'x49': 'Apartment (1 bedroom) Outside of Centre (USD)',
    'x50': 'Apartment (3 bedrooms) in City Centre (USD)',
    'x51': 'Apartment (3 bedrooms) Outside of Centre (USD)',
    'x52': 'Price per Square Meter to Buy Apartment in City Centre (USD)',
    'x53': 'Price per Square Meter to Buy Apartment Outside of Centre (USD)',
    'x54': 'Average Monthly Net Salary (After Tax) (USD)',
    'x55': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'
}

In [7]:
df.rename(columns=column_mapping, inplace=True)

In [8]:
df.head()

,Unnamed: 0,city,country,"Meal, Inexpensive Restaurant (USD)","Meal for 2 People, Mid-range Restaurant, Three-course (USD)",McMeal at McDonalds (or Equivalent Combo Meal) (USD),"Domestic Beer (0.5 liter draught, in restaurants) (USD)","Imported Beer (0.33 liter bottle, in restaurants) (USD)","Cappuccino (regular, in restaurants) (USD)","Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)","Water (0.33 liter bottle, in restaurants) (USD)","Milk (regular), (1 liter) (USD)",Loaf of Fresh White Bread (500g) (USD),"Rice (white), (1kg) (USD)",Eggs (regular) (12) (USD),Local Cheese (1kg) (USD),Chicken Fillets (1kg) (USD),Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD),Apples (1kg) (USD),Banana (1kg) (USD),Oranges (1kg) (USD),Tomato (1kg) (USD),Potato (1kg) (USD),Onion (1kg) (USD),Lettuce (1 head) (USD),"Water (1.5 liter bottle, at the market) (USD)","Bottle of Wine (Mid-Range, at the market) (USD)","Domestic Beer (0.5 liter bottle, at the market) (USD)","Imported Beer (0.33 liter bottle, at the market) (USD)",Cigarettes 20 Pack (Marlboro) (USD),One-way Ticket (Local Transport) (USD),Monthly Pass (Regular Price) (USD),Taxi Start (Normal Tariff) (USD),Taxi 1km (Normal Tariff) (USD),Taxi 1hour Waiting (Normal Tariff) (USD),Gasoline (1 liter) (USD),Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD),Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD),"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)",1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD),"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)","Fitness Club, Monthly Fee for 1 Adult (USD)",Tennis Court Rent (1 Hour on Weekend) (USD),"Cinema, International Release, 1 Seat (USD)","Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)","International Primary School, Yearly for 1 Child (USD)",1 Pair of Jeans (Levis 501 Or Similar) (USD),"1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)",1 Pair of Nike Running Shoes (Mid-Range) (USD),1 Pair of Men Leather Business Shoes (USD),Apartment (1 bedroom) in City Centre (USD),Apartment (1 bedroom) Outside of Centre (USD),Apartment (3 bedrooms) in City Centre (USD),Apartment (3 bedrooms) Outside of Centre (USD),Price per Square Meter to Buy Apartment in City Centre (USD),Price per Square Meter to Buy Apartment Outside of Centre (USD),Average Monthly Net Salary (After Tax) (USD),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",data_quality
0,0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,4.28,0.49,11.63,0.61,0.22,1.22,1.25,12242.64,22972.31,57.37,0.01,7.96,21.07,8.47,4.90,73.76,1985.70,32.05,33.34,49.35,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,3.49,0.56,27.94,2.10,0.42,8.38,1.17,19554.98,20360.82,64.76,0.03,16.74,63.23,14.67,8.38,1356.63,25883.49,69.17,34.26,86.55,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,2.22,0.22,9.53,0.41,0.29,2.86,0.79,25489.74,27978.73,80.12,0.11,30.45,30.86,11.71,3.18,132.74,9934.37,38.87,25.95,72.89,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,2.65,0.53,11.86,0.71,0.24,2.12,1.38,22984.03,18200.60,97.45,0.15,38.02,48.09,5.85,5.48,254.89,10860.59,38.45,26.96,69.47,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,3.39,0.98,41.47,2.86,0.90,9.05,1.41,28648.67,26851.06,176.24,0.16,22.06,54.84,17.99,9.42,384.01,18283.99,56.99,45.49,70.21,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1

In [9]:
df.shape

(4874, 59)

In [10]:
df.dtypes

Unnamed: 0                                                                          int64
city                                                                               object
country                                                                            object
Meal, Inexpensive Restaurant (USD)                                                float64
Meal for 2 People, Mid-range Restaurant, Three-course (USD)                       float64
McMeal at McDonalds (or Equivalent Combo Meal) (USD)                              float64
Domestic Beer (0.5 liter draught, in restaurants) (USD)                           float64
Imported Beer (0.33 liter bottle, in restaurants) (USD)                           float64
Cappuccino (regular, in restaurants) (USD)                                        float64
Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)                              float64
Water (0.33 liter bottle, in restaurants) (USD)                                   float64
Milk (regular), (1 liter) (USD)                                                   float64
Loaf of Fresh White Bread (500g) (USD)                                            float64
Rice (white), (1kg) (USD)                                                         float64
Eggs (regular) (12) (USD)                                                         float64
Local Cheese (1kg) (USD)                                                          float64
Chicken Fillets (1kg) (USD)                                                       float64
Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)                          float64
Apples (1kg) (USD)                                                                float64
Banana (1kg) (USD)                                                                float64
Oranges (1kg) (USD)                                                               float64
Tomato (1kg) (USD)                                                                float64
Potato (1kg) (USD)                                                                float64
Onion (1kg) (USD)                                                                 float64
Lettuce (1 head) (USD)                                                            float64
Water (1.5 liter bottle, at the market) (USD)                                     float64
Bottle of Wine (Mid-Range, at the market) (USD)                                   float64
Domestic Beer (0.5 liter bottle, at the market) (USD)                             float64
Imported Beer (0.33 liter bottle, at the market) (USD)                            float64
Cigarettes 20 Pack (Marlboro) (USD)                                               float64
One-way Ticket (Local Transport) (USD)                                            float64
Monthly Pass (Regular Price) (USD)                                                float64
Taxi Start (Normal Tariff) (USD)                                                  float64
Taxi 1km (Normal Tariff) (USD)                                                    float64
Taxi 1hour Waiting (Normal Tariff) (USD)                                          float64
Gasoline (1 liter) (USD)                                                          float64
Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)                 float64
Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)              float64
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)    float64
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)               float64
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)                      float64
Fitness Club, Monthly Fee for 1 Adult (USD)                                       float64
Tennis Court Rent (1 Hour on Weekend) (USD)                                       float64
Cinema, International Release, 1 Seat (USD)                                       float64
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)         float64
International Primary School, Yearly for 1 Child (USD)                            float64
1 Pair of Jeans (Levis 501 Or Similar) (USD)                                      float64
1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)                              float64
1 Pair of Nike Running Shoes (Mid-Range) (USD)                                    float64
1 Pair of Men Leather Business Shoes (USD)                                        float64
Apartment (1 bedroom) in City Centre (USD)                                        float64
Apartment (1 bedroom) Outside of Centre (USD)                                     float64
Apartment (3 bedrooms) in City Centre (USD)                                       float64
Apartment (3 bedrooms) Outside of Centre (USD)                                    float64
Price per Square Meter to Buy Apartment in City Centre (USD)                      float64
Price per Square Meter to Buy Apartment Outside of Centre (USD)                   float64
Average Monthly Net Salary (After Tax) (USD)                                      float64
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate        float64
data_quality                                                                        int64
dtype: object

In [19]:
## Checking for nulls

In [11]:
df.isnull().sum()

Unnamed: 0                                                                           0
city                                                                                 0
country                                                                              0
Meal, Inexpensive Restaurant (USD)                                                 425
Meal for 2 People, Mid-range Restaurant, Three-course (USD)                        442
McMeal at McDonalds (or Equivalent Combo Meal) (USD)                               322
Domestic Beer (0.5 liter draught, in restaurants) (USD)                            489
Imported Beer (0.33 liter bottle, in restaurants) (USD)                            429
Cappuccino (regular, in restaurants) (USD)                                         334
Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)                               436
Water (0.33 liter bottle, in restaurants) (USD)                                    303
Milk (regular), (1 liter) (USD)                                                    380
Loaf of Fresh White Bread (500g) (USD)                                             417
Rice (white), (1kg) (USD)                                                          336
Eggs (regular) (12) (USD)                                                          505
Local Cheese (1kg) (USD)                                                           481
Chicken Fillets (1kg) (USD)                                                        556
Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)                           562
Apples (1kg) (USD)                                                                 365
Banana (1kg) (USD)                                                                 375
Oranges (1kg) (USD)                                                                435
Tomato (1kg) (USD)                                                                 464
Potato (1kg) (USD)                                                                 430
Onion (1kg) (USD)                                                                  427
Lettuce (1 head) (USD)                                                             495
Water (1.5 liter bottle, at the market) (USD)                                      384
Bottle of Wine (Mid-Range, at the market) (USD)                                    460
Domestic Beer (0.5 liter bottle, at the market) (USD)                              725
Imported Beer (0.33 liter bottle, at the market) (USD)                             651
Cigarettes 20 Pack (Marlboro) (USD)                                                485
One-way Ticket (Local Transport) (USD)                                            1473
Monthly Pass (Regular Price) (USD)                                                2124
Taxi Start (Normal Tariff) (USD)                                                   861
Taxi 1km (Normal Tariff) (USD)                                                    1005
Taxi 1hour Waiting (Normal Tariff) (USD)                                          1368
Gasoline (1 liter) (USD)                                                           578
Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)                 1035
Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)               970
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)     474
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)               1172
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)                       340
Fitness Club, Monthly Fee for 1 Adult (USD)                                       1351
Tennis Court Rent (1 Hour on Weekend) (USD)                                       2366
Cinema, International Release, 1 Seat (USD)                                        469
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)         1113
International Primary School, Yearly for 1 Child (USD)                            1644
1 Pair of Jeans (Levis 501 Or Similar) (USD)                                       461
1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)                               601
1 Pair of Nike Running Shoes (Mid-Range) (USD)                                     486
1 Pair of Men Leather Business Shoes (USD)                                         537
Apartment (1 bedroom) in City Centre (USD)                                        1341
Apartment (1 bedroom) Outside of Centre (USD)                                     1409
Apartment (3 bedrooms) in City Centre (USD)                                       1456
Apartment (3 bedrooms) Outside of Centre (USD)                                    1489
Price per Square Meter to Buy Apartment in City Centre (USD)                      2193
Price per Square Meter to Buy Apartment Outside of Centre (USD)                   2265
Average Monthly Net Salary (After Tax) (USD)                                      1415
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate         980
data_quality                                                                         0
dtype: int64

In [18]:
## Handling Nulls

In [12]:
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns.tolist()

In [13]:
df[numerical_columns] = df[numerical_columns].fillna(0)

In [14]:
string_columns = df.select_dtypes(include=['object']).drop(['city', 'country'], axis=1).columns.tolist()

In [15]:
df[string_columns] = df[string_columns].fillna('Unknown')

In [16]:
print(df.isnull().sum())

Unnamed: 0                                                                        0
city                                                                              0
country                                                                           0
Meal, Inexpensive Restaurant (USD)                                                0
Meal for 2 People, Mid-range Restaurant, Three-course (USD)                       0
McMeal at McDonalds (or Equivalent Combo Meal) (USD)                              0
Domestic Beer (0.5 liter draught, in restaurants) (USD)                           0
Imported Beer (0.33 liter bottle, in restaurants) (USD)                           0
Cappuccino (regular, in restaurants) (USD)                                        0
Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)                              0
Water (0.33 liter bottle, in restaurants) (USD)                                   0
Milk (regular), (1 liter) (USD)                                                   0
Loaf of Fresh White Bread (500g) (USD)                                            0
Rice (white), (1kg) (USD)                                                         0
Eggs (regular) (12) (USD)                                                         0
Local Cheese (1kg) (USD)                                                          0
Chicken Fillets (1kg) (USD)                                                       0
Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)                          0
Apples (1kg) (USD)                                                                0
Banana (1kg) (USD)                                                                0
Oranges (1kg) (USD)                                                               0
Tomato (1kg) (USD)                                                                0
Potato (1kg) (USD)                                                                0
Onion (1kg) (USD)                                                                 0
Lettuce (1 head) (USD)                                                            0
Water (1.5 liter bottle, at the market) (USD)                                     0
Bottle of Wine (Mid-Range, at the market) (USD)                                   0
Domestic Beer (0.5 liter bottle, at the market) (USD)                             0
Imported Beer (0.33 liter bottle, at the market) (USD)                            0
Cigarettes 20 Pack (Marlboro) (USD)                                               0
One-way Ticket (Local Transport) (USD)                                            0
Monthly Pass (Regular Price) (USD)                                                0
Taxi Start (Normal Tariff) (USD)                                                  0
Taxi 1km (Normal Tariff) (USD)                                                    0
Taxi 1hour Waiting (Normal Tariff) (USD)                                          0
Gasoline (1 liter) (USD)                                                          0
Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)                 0
Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)              0
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)    0
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)               0
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)                      0
Fitness Club, Monthly Fee for 1 Adult (USD)                                       0
Tennis Court Rent (1 Hour on Weekend) (USD)                                       0
Cinema, International Release, 1 Seat (USD)                                       0
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)         0
International Primary School, Yearly for 1 Child (USD)                            0
1 Pair of Jeans (Levis 501 Or Similar) (USD)                                      0
1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)                              0
1 Pair of Nike Running Shoes (Mid-Range) (USD)                                    0
1 Pair of Men Leather Business Shoes (USD)                                        0
Apartment (1 bedroom) in City Centre (USD)                                        0
Apartment (1 bedroom) Outside of Centre (USD)                                     0
Apartment (3 bedrooms) in City Centre (USD)                                       0
Apartment (3 bedrooms) Outside of Centre (USD)                                    0
Price per Square Meter to Buy Apartment in City Centre (USD)                      0
Price per Square Meter to Buy Apartment Outside of Centre (USD)                   0
Average Monthly Net Salary (After Tax) (USD)                                      0
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate        0
data_quality                                                                      0
dtype: int64

In [17]:
df.dtypes

Unnamed: 0                                                                          int64
city                                                                               object
country                                                                            object
Meal, Inexpensive Restaurant (USD)                                                float64
Meal for 2 People, Mid-range Restaurant, Three-course (USD)                       float64
McMeal at McDonalds (or Equivalent Combo Meal) (USD)                              float64
Domestic Beer (0.5 liter draught, in restaurants) (USD)                           float64
Imported Beer (0.33 liter bottle, in restaurants) (USD)                           float64
Cappuccino (regular, in restaurants) (USD)                                        float64
Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)                              float64
Water (0.33 liter bottle, in restaurants) (USD)                                   float64
Milk (regular), (1 liter) (USD)                                                   float64
Loaf of Fresh White Bread (500g) (USD)                                            float64
Rice (white), (1kg) (USD)                                                         float64
Eggs (regular) (12) (USD)                                                         float64
Local Cheese (1kg) (USD)                                                          float64
Chicken Fillets (1kg) (USD)                                                       float64
Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)                          float64
Apples (1kg) (USD)                                                                float64
Banana (1kg) (USD)                                                                float64
Oranges (1kg) (USD)                                                               float64
Tomato (1kg) (USD)                                                                float64
Potato (1kg) (USD)                                                                float64
Onion (1kg) (USD)                                                                 float64
Lettuce (1 head) (USD)                                                            float64
Water (1.5 liter bottle, at the market) (USD)                                     float64
Bottle of Wine (Mid-Range, at the market) (USD)                                   float64
Domestic Beer (0.5 liter bottle, at the market) (USD)                             float64
Imported Beer (0.33 liter bottle, at the market) (USD)                            float64
Cigarettes 20 Pack (Marlboro) (USD)                                               float64
One-way Ticket (Local Transport) (USD)                                            float64
Monthly Pass (Regular Price) (USD)                                                float64
Taxi Start (Normal Tariff) (USD)                                                  float64
Taxi 1km (Normal Tariff) (USD)                                                    float64
Taxi 1hour Waiting (Normal Tariff) (USD)                                          float64
Gasoline (1 liter) (USD)                                                          float64
Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)                 float64
Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)              float64
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)    float64
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)               float64
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)                      float64
Fitness Club, Monthly Fee for 1 Adult (USD)                                       float64
Tennis Court Rent (1 Hour on Weekend) (USD)                                       float64
Cinema, International Release, 1 Seat (USD)                                       float64
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)         float64
International Primary School, Yearly for 1 Child (USD)                            float64
1 Pair of Jeans (Levis 501 Or Similar) (USD)                                      float64
1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)                              float64
1 Pair of Nike Running Shoes (Mid-Range) (USD)                                    float64
1 Pair of Men Leather Business Shoes (USD)                                        float64
Apartment (1 bedroom) in City Centre (USD)                                        float64
Apartment (1 bedroom) Outside of Centre (USD)                                     float64
Apartment (3 bedrooms) in City Centre (USD)                                       float64
Apartment (3 bedrooms) Outside of Centre (USD)                                    float64
Price per Square Meter to Buy Apartment in City Centre (USD)                      float64
Price per Square Meter to Buy Apartment Outside of Centre (USD)                   float64
Average Monthly Net Salary (After Tax) (USD)                                      float64
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate        float64
data_quality                                                                        int64
dtype: object

Pt III: Saving Dataset to new dataset ready for Tableau

In [20]:
df.to_csv('cleaned_data.csv', index=False)